

  <div ng-show="$ctrl.pphone1 != null" class="text-center">
  
    <h3>{{$ctrl.pphone1.name}}</h3>
    <img ng-src="{{$ctrl.pphone1.imageUrl}}" class="imagen-responsive grande" alt="{{$ctrl.pphone1.name}}">
    <div>Flash:
       <span>{{$ctrl.pphone1.flash}} MB</span>
       <span ng-if="$ctrl.pphone2 != null && $ctrl.pphone1 != null">   
          <valor-comparable val1="{{$ctrl.pphone1.flash}}" val2="{{$ctrl.pphone2.flash}}"></valor-comparable>
       </span>
       
    </div>
    <div>Ram: <span>{{$ctrl.pphone1.ram}} MB</span>
      <span ng-if="$ctrl.pphone2 != null && $ctrl.pphone1 != null">   
          <valor-comparable val1="{{$ctrl.pphone1.ram}}" val2="{{$ctrl.pphone2.ram}}"></valor-comparable>
      </span>
    </div><br>
    <button class="btn btn-info">Comprar</button>
  </div>
