
<h2>Comparador</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
        <ul class="list-group">
            <li ng-repeat="phone in $ctrl.phones" ng-click="$ctrl.seleccionar(phone)" class="list-group-item" ng-class="{'seleccionado' : $ctrl.phone1 == phone || $ctrl.phone2 == phone}">
              <img ng-src="{{phone.imageUrl}}" class="imagen-responsive" alt="{{phone.name}}">
              {{phone.name}}

            </li>
            
        </ul>
    </div>
    
    <phone-comparable pphone1="$ctrl.phone1" pphone2="$ctrl.phone2" class="movil-comparable movil1"></phone-comparable>
    <phone-comparable pphone1="$ctrl.phone2" pphone2="$ctrl.phone1"  class="movil-comparable movil2"></phone-comparable>

  </div>
</div>
    
    



    